@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

/* .body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.hero {
  background-image: url(/images/home1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 60px;
  letter-spacing: 1px;
  font-weight: 300;
}

.hero p {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.nav {
  position: fixed;
  background-color: rgb(0, 0, 0);
  left: 0;
  right: 0;
  top: 0;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.container-fluid ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.container-fluid a {
  color: rgb(240, 155, 18);
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
}

#btn {
  position: absolute;
  top: 0;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  margin-left: 15cm;
  margin-top: 430px;

}

.cont2 {
  position: relative;
  margin-top: 75px;
  padding: 50px;
  background-color: #1b1a17;
  justify-content: center;
  align-items: center;
}

.row1 {
  justify-content: center;
}

.cont3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b1a17;
}

#btn2 {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  top: 0;
}
.ordercont1{
  /* background-color: #2D2424; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.orderow1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
}
#form-control{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #383532;
  padding: 10px;
}
#pizza{
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  font-weight: 300;
  font-size: 15px;
  /* height: 5vh;
  margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative; */
}
.ordercont1{
  background-image: url(/images/BBQ.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#btn3 {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  /* top: 0; */
}
.form-control4{
  color: white;
}
#largepizza{
  color: rgb(252, 165, 25);
  background-color: black;
  font-weight: 300;
  padding: 5px;
}
#mediumpizza{
  color: rgb(252, 165, 25);
  background-color: black;
  font-weight: 300;
  padding: 5px;
}
#smallpizza{
  color: rgb(252, 165, 25);
  background-color: black;
  font-weight: 300;
  padding: 5px;
}